form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  border: 2px solid black;
  padding-left: 30px;
}

form button {
  background-color: rgb(0, 110, 255);
  color: white;
  width: 150px;
  padding: 5px;
}

form button:disabled {
  background-color: gainsboro;
  color: black;
}